.main-body{
  margin-left: 20px;
}
.form {
  color: #555;
  display: flex;
  padding: 2px;
  border: 1px solid currentColor;
  border-radius: 5px;
}
input[type="search"] {
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}

input[type="search"]::placeholder {
  color: #bbb;
}
button[type="submit"] {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  cursor: pointer;
  opacity: 0.7;
}

button[type="submit"]:hover {
  opacity: 1;
}
.fir-clickcircle {
    height: 80px;
    width: 80px;
    border-radius: 100px;
    cursor: pointer;
  }
  
  .fir-image-figure {
    margin: 10px;
    display: flex;
    align-items: center;
    /*margin-bottom: 40px;*/
    position: relative;
    text-decoration: none;
    box-shadow: 10px 5px 5px rgb(249 249 249);
    background-color: #f7f8ff;
    border-radius: 10px;
  }
  
  .fir-image-figure .caption, .fir-image-figure figcaption {
   /* padding-left: 15px;*/
   padding: 30px;
  }
  
  html.wf-active .fir-image-figure .fig-author-figure-title {
    font-family: var(--fir-font-header);
    font-size: 16px;
  }
  
  .fir-image-figure .fig-author-figure-title {
    color: var(--fir-color-grey);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-top: 2px;
    
  }
  .fig-title {
    outline: solid;border-radius: 10px;
  }
  
  .fir-imageover {
    position: relative;
    display: flex;
  }
  
  .fir-imageover-color {
    height: 80px;
    width: 80px;
    position: absolute;
    background: var(--fir-blue-twitter-alpha);
    background-image: none;
    border-radius: 100px;
    cursor: pointer;
    transition: background .3s ease-in-out;
    animation: fadeInFadeOut 2s infinite;
    top: 0;
    left: 0;
  }
  
  .fir-imageover-image {
    position: absolute;
    top: 0;
    left: 0;
    animation: fadeInFadeOut 2s infinite;
  }
  
  @keyframes fadeInFadeOut {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  .profiles{
    display: flex;
  }
  .fir-image-figure:hover{
    /*color: #ffee10;*/
  box-shadow: 0 0 5px #ffee10;
  text-shadow: 0 0 5px #ffee10;
  }
  .fir-image-figure:hover::before{
    transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
  }
  .fir-image-figure::before{
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
   

  }
  .fir-image-figure.fig-author-figure-title.custom{
    background-color: #f7f8ff!important;
  }

  .box {
    transition: box-shadow .3s;
    border: 1px solid #f7f8ff;
    background: #fff;
    float: left;
    background-color: #f7f8ff;
    border-radius: 15px;
    padding: 30px;
    margin:7px;
  }
  .box:hover {
    box-shadow: 0 0 11px #d5d8f4; 
  }
  .navi-link{
    background: white;
    text-decoration: none;
    color: gray;
    padding: 8px;
    text-decoration: none;
    border-radius: 10px;
  }
  .navi-link:hover{
    background: #8e9af2;
    color: white;
    text-decoration: none;
  }
  .row-subtags{
    padding-top: 10px;
  }
  .subtags{
    background-color: rgb(255, 255, 255);
    border-color: blue;
    border-radius: 20px;
    border-width: 10px; 
    border: 1px solid #7a83d3;
    color: #8890d7;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
  }